#breadcrumbs {
  background: rgba(0,0,0, .9);
}

.breadcrumb {
  background-color: unset;
  padding: 0;
}

.breadcrumb__list {
  padding-top: 1rem;
}

.breadcrumb__list li {
  display: inline-block;
}

.breadcrumb:last-child a {
  color: #00c895;
  font-weight: 100;
}
.breadcrumb:last-child:hover {
  transform: none;
}
.breadcrumb a:hover {
  color: #00c895;
}
.breadcrumb__link {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  transition: transform .2s;
}
.breadcrumb__link:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.breadcrumb__separator {
  font-size: 16px;
  padding: 0 9px;
  color: rgba(255, 255, 255, 1);
}