.card {
  border: 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(27,31,35,.15);
}

.card a {
  color: #474747;
}

.card a:hover {
  color: #474747;
  box-shadow: 0 4px 6px rgba(49,54,68,.05),0 5px 20px rgba(49,54,68,.08);
  cursor: pointer;
  transform: translatey(-2px);
  text-decoration: none;
  transition: all .2s ease;
}

.card-title {
  border-radius: 3px 3px 0 0;
  background: linear-gradient(
          #00c895,
          #00ad93);
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

.feature {
  background: linear-gradient(
          #20262A,
          #37404A) !important;
}

.card-text {
  font-size: 14px;
  line-height: normal;
}

.card-body {
  padding: 0;
}

.card-footer {
  font-size: 12px;
  text-transform: uppercase;
  color: #00ad93;
}

