footer {
    background: #000;
    box-shadow: 0 -10px 20px -5px rgba(0,0,0,.4);
    color: #fff;
    width: 100%;
    margin-top: auto;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .menu a{
    color: rgba(255,255,255,1);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 20px !important;
}

footer .menu a:hover{
    color: #00c895;
}

footer .sub-menu a {
    color: rgba(255,255,255,.6);
    font-size: 12px;
    font-weight: 100;
    text-transform: none;
    border-bottom: none;

}

footer .sub-menu a:hover {
    color: #fff;
}

footer img {
    max-width: 100%;
    text-align: center;
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,.3);
    font-size: 12px;
    color: #3c4652;
}

.footer-bottom a {
    color: rgba(255,255,255,.6);
}
.footer-bottom a:hover {
    color: #ffffff;
}

a:hover .svg-inline--fa{
    color: rgba(255,255,255,.8);
}

.copyright {

}