#related-articles {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  border: 0;
  font-size: 16px;
  font-weight: 400;
}

#related-articles .heading {
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.social {
  text-align: center;
  padding: 10px;
}

#related-articles .active {
  background: #e6faf4;
  color: black;
  font-weight: 600;
  border-left: 2px solid #00c895;
  padding-left: 12px;
}

#related-articles .active a {
  color: #647481;
}

#related-articles .non-active {
  border-left: 2px solid #ccc;
  padding-left: 8px;
  color: #647481;
}

#related-articles .non-active a {
  color: #647481;
}
