#subfooter {
    margin-bottom: 0;
background: linear-gradient(
rgba(0,0,0, 0.7),
rgba(0,0,0, 0.9)
),url(../images/bg/mountains-bg.jpg);
    background-size: cover;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 1px solid #ddd;
    text-align: center;
}

#subfooter h2, #subfooter p {
    color: #ffffff;
}