#toc {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  border: 0;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
}
#toc .col {
  padding: 0;
}

#toc a {
  cursor: pointer;
}

#toc .heading {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  color: #37404a;
}

#toc .heading:not(:first-child) {
  border-radius: 0;
}

.visible-header {
  background: #e6faf4;
  border-left: 2px solid #00c895;
  padding-left: 12px;
}
.visible-header a {
  color: #37404a;
  font-weight: 600;
}

.nonvisible-header {
  background: #fff;
  border-left: 2px solid #ccc;
  padding-left: 8px;
}

.nonvisible-header a {
  color: #647481;
}
